img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    object-fit: cover;
   }
   
   h2 {
    font-size: 24px;
   }
   
   body {
    text-align: center;
    background-color: slateblue;
    color: white;
    font-family: 'Trebuchet MS';
   }
   
   a {
    text-align: center;
    margin: 10px;
    color: slateblue;
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
   }